@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}
.centrale{
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 60%;
    top: 50%;
    left: 50%;
    height: 70vh;
    transform: translate(-50%,-50%);
}
.nav{
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
}